<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027944462291-5ir9lj5icnc1s56alq95tvf72nl64ocp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027944462291-5ir9lj5icnc1s56alq95tvf72nl64ocp</string>
	<key>API_KEY</key>
	<string>AIzaSyBt5x80GK8usJyTrLPJGc4DcV8L7hev3rc</string>
	<key>GCM_SENDER_ID</key>
	<string>1027944462291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nibm.hbo.com</string>
	<key>PROJECT_ID</key>
	<string>hbo-app-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>hbo-app-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027944462291:ios:fff5ac6b8d36d07d866126</string>
	<key>DATABASE_URL</key>
	<string>https://hbo-app-swift.firebaseio.com</string>
</dict>
</plist>